@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- SCROLLBAR TIPO "HACKER" --- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 5px;
  border: 2px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316; /* Naranja al hover */
}

/* Utilidades */
.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-primary via-pink-500 to-violet-600;
}